@model FlightManagement.DTO.Flights.FlightsForCreationDto
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<h1>Добавить рейс</h1>

    <form asp-action="Create" method="post" class="formsort">
    <div>
        <label>Номер рейса:</label>
        <input asp-for="FlightNumber" />
        <span asp-validation-for="FlightNumber"></span>
    </div>
    <div>
        <label>Тип самолета:</label>
        <select asp-for="AircraftType" asp-items="ViewBag.AircraftTypes"></select>
    </div>
    <div>
        <label>Цена билета:</label>
        <input asp-for="TicketPrice" />
        <span asp-validation-for="TicketPrice"></span>
    </div>
    <button type="submit">Создать</button>
</form>
</body>
</html>