@model IEnumerable<FlightManagement.models.Statuses>

<h1>Status</h1>
<table class="table">
    <thead>
        <tr>
            <th>Status Name</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var status in Model)
        {
            <tr>
                <td>@status.StatusName</td>
                
            </tr>
        }
    </tbody>
</table>

