<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=DESKTOP-CADBM5B\MSSQLEXPRESS;Database=FlightManagement;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>