@model IEnumerable<FlightManagement.models.Flight>

<h1>Flights</h1>
<table class="table">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>Aircraft Type</th>
            <th>Ticket Price</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.FlightNumber</td>
                <td>@flight.AircraftType</td>
                <td>@flight.TicketPrice</td>
               
            </tr>
        }
    </tbody>
</table>
