@model FlightManagement.DTO.Airport.AirportsForUpdateDto
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<h1>Редактировать аэропорт</h1>

    <form asp-action="Edit" method="post" class="formsort">
    <input type="hidden" asp-for="AirportID" />
    <div>
        <label>Название:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label>Локация:</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>

