<div class="main-menu">
    <a asp-controller="Flight" asp-action="Index">Flights</a>
    <a asp-controller="Airport" asp-action="Index">Airports</a>
    <a asp-controller="Status" asp-action="Index">Statuses</a>
</div>

