name: Build

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore ./ConsoleApp/ConsoleApp.csproj  # ”кажите путь к вашему проекту

      - name: Build
        run: dotnet build ./ConsoleApp/ConsoleApp.csproj --configuration Release  # ”кажите путь к вашему проекту

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore .\ConsoleApp\ConsoleApp.csproj  # ”кажите путь к вашему проекту

      - name: Build
        run: dotnet build .\ConsoleApp\ConsoleApp.csproj --configuration Release  # ”кажите путь к вашему проекту